#app{
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    height: 100%;
}

.nav{
    padding : 25px;
    font-weight: 600;
    width: inherit;
    a{
        color: #495057;
        &.router-link-exact-active{
            color: $teal-600;
            background: white;
            border-radius: 30px;
        }
    }
}



